header{
	
	background:url(../img/wwwAIN201407151528000206688125416.jpg) ;
}
body{
	padding: 0;
	margin: 0;
}
nav{
	
	height:50px;
}
#banner {
	
	height:700px;
}
nav ul {
	list-style:none;
	margin:0;
	float:right ;
}
nav ul li ,nav .logo
{
	display:inline-block;
	line-height: 50px;
    margin-right: 20px;
}
nav ul li a {
	line-height: 50px;
	text-decoration: none;
	height:inherit;
	color:#000000;
	
}
nav ul li.logo{
	float:left;
}
#banner .inner{
	max-width: 300px;
	text-align: center;
	margin:0 auto;
	position: relative;
	top:300px;
	
}
#banner .inner h1{
	margin:0;
	
}
button
{
	border:none;
	background: cornflowerblue;
	color:#eee;
	padding: 10px 10px;
}
#banner .inner .more{
	margin-top: 100px;
}
.logo{
	font-size:20px;
	font-weight:700;
	letter-spacing: 1px;
	
}
.logo a{
	text-decoration: none;
	color: #000000;
}
.green-section{
	background:url(../img/ArtCamera_1534554317014.jpg);
	text-align:center;
	color:black;
	padding:100px 0;
}
.green-section .hr{
	background: #DDDDDD;
	width: 60%;
}
.wrapper{
	max-width:1080px;
	margin: 0 auto;
	
}
.hr {
	width:100px;
	height: 2px;
	margin:20px auto;    
}
.sub-heading {
	font-size: 18px;
}
.green-section .icon-group .icon{
	display: inline-block;
	width: 80px;
	height:80px;
	background: white;
	transform: rotate(45deg);
}
.gray-section{
	position: relative;
	height: 400px;
	padding: 100px 0;
	background: gray;
	text-align: center;
}
.gray-section .two .tr{
	margin: 0 auto;
	font-size: 28px;
	position: relative;
	top:1px;
}


.gray-section .two-w .ret{
	display: inline-block;
	width:200px;
	height:200px;	
   margin: 20px;
   border: 1px solid black;
   position:relative;
   float: left;
}

.gray-section .two-w{
	position: relative;
	height: 500px;
	width: 1000px;
	overflow: hidden;
	margin: 0 auto;
   top:80px;
}

.purple-section 
{
height: 200px;
	background:#FAEBD7;
	text-align: center;
	margin: 0 auto;
}
.purple-section .three h4
{
	font-size: 25px;
	margin: 0;
   padding: 40px;
}
.purple-section .three .ew
{
	font-size: 20px;
	left: 25%;
	
}
.purple-section .three .er
{
	text-align: right;
	font-size: 15px;
	margin-left: 70px;
	
}
.ff{	
	background: burlywood;
	margin: 0;
	height: 100px;
	color: white;
	text-align: center;
	position: relative;
	top:-15px
}
ul .share-group {
	display: block;
	width:1080px;
	margin:0 auto;
    padding:10px;
    

}
.share-group li{
	display: inline-block;
	padding: 10px;
	position: relative;
	top:5px;
}
.cope{
	padding: 15px;
}